* {
  margin: 0;
  padding: 0;
}

.fondoDetail {
  background-image: url("../assets/fondoDogs.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorDetail {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d6efd;
  border-radius: 2rem;
  color: black;
}

.tituloDetail {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.imgDetail {
  width: auto;
  height: 20rem;
  border: 0.5rem solid black;
}

.tempDetail {
  text-align: center;
}

@media (max-width: 1024px) {
  .fondoDetail {
    height: auto;
  }

  .contenedorDetail {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  .fondoDetail {
    min-height: 100vh;
  }
  .contenedorDetail {
    width: 90%;
  }
  .imgDetail {
    height: 15rem;
  }
}

@media (max-width: 320px) {
  .imgDetail {
    height: 13rem;
  }
}
