.fondoCreate {
  background-image: url("../assets/fondoDogs.jpg");
  background-size: cover;
  overflow: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formCreate {
  width: 60%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.formCreate form {
  border-radius: 2rem;
  padding: 1rem;
}

.botonesDetail {
  display: flex;
  text-align: center;
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
}

.ulDetail {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 1024px) {
  .formCreate {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .fondoCreate {
    height: 100%;
  }
  .formCreate {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (max-width: 320px) {
  .formCreate {
    width: 90%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
