.fondoHome {
  background-image: url("../assets/fondoDogs.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containerNavbar {
  display: flex;
}

.loadingFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
